<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581637567634-54pnpgo7u5h87f8tbdcuv9simvotr8iq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581637567634-54pnpgo7u5h87f8tbdcuv9simvotr8iq</string>
	<key>API_KEY</key>
	<string>AIzaSyBJxkWgryllosriaVomYYLlT2bVOJ4ozyg</string>
	<key>GCM_SENDER_ID</key>
	<string>581637567634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tongsak.TravelTool</string>
	<key>PROJECT_ID</key>
	<string>traffictracker-79853</string>
	<key>STORAGE_BUCKET</key>
	<string>traffictracker-79853.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581637567634:ios:93ed45b749e05e13</string>
	<key>DATABASE_URL</key>
	<string>https://traffictracker-79853.firebaseio.com</string>
</dict>
</plist>